<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">All Customers</h1>
      <h2 class="subtitle">Complete customer directory</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="buttons">
            <%= link_to "Alphabetized View", customers_alphabetized_path, class: "button is-info" %>
            <%= link_to "Missing Email", customers_missing_email_path, class: "button is-warning" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="columns is-multiline">
      <% @customers.each do |customer| %>
        <div class="column is-one-third">
          <%= render 'customer', customer: customer %>
        </div>
      <% end %>
    </div>
  </div>
</section>